body {
  background-image: url("../img/floral.jpg");
}

h1 {
  color: white;
  font-size: 100px;
  font-family: cursive;
  font-weight: 600;
}

#answerSection {
  display: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

#calculatorInput {
  font-size: 20px;
}

.form-group {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 25px;
  line-height: 60px;
}

#left {
  padding: 10px;
  background-image: linear-gradient(to right, rgba(255,0,0,1), rgba(255,0,0,0));
}

#right {
  padding: 10px;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

#style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: red;
  color: white;
  font-family: cursive;
  font-size: 30px;
}

#middleSection {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 10px dotted black;
  border-radius: 10%;
  padding: 10px;
  background-color: rgba(27, 186, 0, 0.8);
  text-align: center;
  align-items: center;
}
